.refineBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}
  
.tag-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tag {
    background-color: #0096b0;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}
